# Django
SECRET_KEY=YOUR_DJANGO_SECRET_KEY
ENVIRONMENT=development

# Postgres
DB_NAME=YOUR_DB_NAME
DB_USER=YOUR_DB_USER
DB_PASSWORD=YOUR_DB_PASSWORD

# Redis 
REDIS_URL=YOUR_REDIS_URL

# AWS
AMAZONS3_API=YOUR_AMAZON_S3_API
AMAZONS3_KEY=YOUR_AMAZON_S3_KEY
BUCKET=YOUR_AMAZON_S3_BUCKET
BUCKET_REGION=YOUR_AMAZON_S3_BUCKET_REGION

# Production SMTP server
EMAIL_HOST=YOUR_AMAZON_SES_HOST
EMAIL_PORT=587
EMAIL_HOST_USER=YOUR_AMAZON_SES_HOST_USER
EMAIL_HOST_PASSWORD=YOUR_AMAZON_SES_HOST_PASSWORD
DEFAULT_FROM_EMAIL=YOUR_AMAZON_SES_DEFAULT_FROM_EMAIL

# Development SMTP server
DEVELOPMENT_EMAIL_HOST=sandbox.smtp.mailtrap.io
DEVELOPMENT_EMAIL_PORT=2525
DEVELOPMENT_EMAIL_HOST_USER=YOUR_MAILTRAP_HOST_USER
DEVELOPMENT_EMAIL_HOST_PASSWORD=YOUR_MAILTRAP_HOST_PASSWORD

# Open ai
OPENAI_API_KEY=OPEN_AI_API_KEY